@model IEnumerable<Filminurk.Models.Movies.MoviesIndexViewModel>

@{
	int rowNumber = 1;
}

<div>
	<a asp-action="Create" asp-controller="Movies" type="submit" class="btn btn-primary">Lisa film</a>
</div>
<div class="h1">
	Filmid
</div>
<form method="get">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Filmi pealkiri</th>
				<th scope="col">Väljalaskeaeg</th>
				<th scope="col">Hinnang</th>
				<th scope="col">Riik</th>
				<th scope="col">Žanr</th>
				<th scope="col">Tööriistad</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var movie in Model)
			{
				<tr>
					<td>@rowNumber</td>
					<td>@movie.Title</td>
					<td>@movie.FirstPublished</td>
					<td>@movie.CurrentRating</td>
					<td>@movie.CountryFilmedIn</td>
					<td>@movie.Genre</td>
				</tr>
				rowNumber += 1;
			}
		</tbody>
	</table>
</form>